* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Rubik';
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.hr{
  border-color: var(--line);
  color: var(--line);
  background-color: var(--line);
  height: 1px !important;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/font/Rubik/static/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("../assets/font/Rubik/static/Rubik-Bold.ttf");
}


#app{
    width: 100%;
    margin: 0;
    padding: 0 !important;
    text-align: start !important;
    height: 100%;
}

.list-ol{
  list-style: inside decimal;
}

.list-ol .list-li{
  
}

.page-container{
  display: flex;
  padding-left: 2rem;
  max-width: 1000px;
}

.page-container  .page-container__content{

}

.page-container  .page-container__sidebar{

}