* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Rubik';
  font-weight: 400;
}

body {
  background-color: var(--main-background);
  height: 100vh;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.hr{
  border-color: var(--line);
  color: var(--line);
  background-color: var(--line);
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/font/Rubik/static/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("../assets/font/Rubik/static/Rubik-Bold.ttf");
}


#app{
    width: 100%;
    margin: 0;
    padding: 0 !important;
    text-align: start !important;
    height: 100%;
}

.page{
    padding-left: 2rem;
}